{{ partial "header.html" . }}

{{ .Content }}

<!--显示目录名称:设置变量,需要使用$，表示全局使用-->
{{ $.Scratch.Set "cur-dir" "" }}

<!--self note:主页的时候不显示列表 20180215-->
{{ if not .IsHome }}
<ul>
  {{ range (where .Data.Pages "Section" "!=" "") }}

  <!--显示目录：判断目录是否发生改变-->
  {{ if ne ($.Scratch.Get "cur-dir") (path.Base .Dir) }}
  {{ $.Scratch.Set "cur-dir" (path.Base .Dir) }}
  <h2 class="archive-title">{{ $.Scratch.Get "cur-dir" }}</h2>
  {{ end }}

  <li>
    <span class="date">{{ .Date.Format "2006/01/02" }}</span>
    <a href="{{ .URL }}">{{ .Title }}</a>
  </li>
  {{ end }}
</ul>
{{ end }}

{{ partial "footer.html" . }}
