<h1>{{ .Title }}</h1>
{{ with .Params.subtitle }}<h1><span class="subtitle">{{ . }}</span></h1>{{ end }}

{{ if not .IsHome }}

    <!--如果有的话，才显示Tag标签。否则不存在的页面，空白很难看-->
    {{ if isset .Params "author" }}
    <section class="post-meta">
        <span class="post-author">{{ with .Params.author }}{{ . }}{{ end }}
        {{ if .Params.date }}
            <!--self note: 不知道为什么 .Date在Front matter中没有写，还是可以获取到日期 20180215-->
            {{ if ne (dateFormat "2006-01-02" .Params.date) "0001-01-01" }}
            {{ if .Params.author }} / {{ end }} {{ .Date.Format "2006-01-02" }}{{ end }}
            {{ end }}
        </span>
        {{ range .Params.tags }}
        <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
        {{ end }}
    </section>
    {{ end }}
{{ end }}


<hr>